// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'media';

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    height: 400px;
    overflow-y: scroll;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.ti-tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    line-height: 1em;
    padding-left: 0;
}

.ti-tag {
    background-color: $primary;
    color: #fff;
    border-radius: 2px;
    display: flex;
    padding: 3px 5px;
    margin: 2px;
    font-size: .85em;

    &:focus {
        outline: none;
    }

    .ti-content {
        display: flex;
        align-items: center;
    }

    .ti-tag-center {
        position: relative;
    }

    span {
        line-height: .85em;
    }

    span.ti-hidden {
        padding-left: 14px;
        visibility: hidden;
        height: 0px;
        white-space: pre;
    }

    &:last-child {
        margin-right: 4px;
    }

    &.ti-invalid, &.ti-tag.ti-deletion-mark {
        background-color: $danger;
    }
}
