<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <h3>Добавить цитату</h3>
                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            <form class="mb-3">
                                <div v-if="errors.length" class="mb-3">
                                    <b>Пожалуйста исправьте указанные ошибки:</b>
                                    <ul class="list-group" v-for="error in errors">
                                        <li class="list-group-item list-group-item-danger mb-1">{{ error }}</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Автор"
                                           v-model="quote.author">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" class="form-control" placeholder="Текст"
                                              v-model="quote.text"></textarea>
                                </div>
                                <div class="form-group">
                                    <span>Максимум - 3 тега.</span>
                                    <vue-tags-input
                                        v-model="tag"
                                        :tags="quote.tags"
                                        :autocomplete-items="autocompleteItems"
                                        :add-only-from-autocomplete="true"
                                        :max-tags="3"
                                        :placeholder="'Добавить тег'"
                                        @tags-changed="update"
                                    />
                                </div>
                            </form>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button type="submit" class="btn btn-success" @click="save()">Сохранить</button>
                            <button class="modal-default-button btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>


<script>
import VueTagsInput from '@johmun/vue-tags-input';
import axios from 'axios';

export default {
    name: "QuoteForm",
    comments: {
        VueTagsInput,
    },
    data() {
        return {
            quote: {
                id: '',
                author: '',
                text: '',
                tags: [],
            },
            tag: '',
            autocompleteItems: [],
            debounce: null,
            errors: [],
        }
    },
    watch: {
        'tag': 'initItems',
    },
    methods: {
        save() {
            this.errors = [];

            if (!this.quote.author) {
                this.errors.push('Требуется указать автора.');
            }
            if (!this.quote.text) {
                this.errors.push('Требуется указать текст.');
            }
            if (!this.quote.tags.length) {
                this.errors.push('Добавьте хотя бы 1 тег.');
            }

            if (this.errors.length > 0) {
                return;
            }
            this.$emit('close', this.quote);
        },
        update(newTags) {
            this.autocompleteItems = [];
            this.quote.tags = newTags;
        },
        initItems() {
            if(this.quote.tags.length === 3) return;
            const url = `/api/tags/search?term=${this.tag}`;

            clearTimeout(this.debounce);
            this.debounce = setTimeout(() => {
                axios.get(url).then(response => {
                    this.autocompleteItems = response.data.data.map(a => {
                        return { text: a.name, id: a.id };
                    });
                });
            }, 600);
        },
    }
}
</script>

<style scoped>

</style>
