<template>
    <div>
        <div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
                <div class="container">
                    <a href="#" class="navbar-brand">Quotes.com</a>
                    <button id="show-modal" @click="showModal = true" class="btn btn-success">Добавить цитату</button>
                </div>
            </nav>
        </div>
        <div class="container">
            <quote-form v-if="showModal" @close="createQuote"></quote-form>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prev_page_url}]"
                        class="page-item"><a class="page-link" href="#"
                                             @click="fetchQuotes(pagination.prev_page_url.replace('http://','https://'))">Предыдущая</a></li>

                    <li class="page-item disabled"><a class="page-link text-dark" href="#">
                        Страница {{ pagination.current_page }} из {{ pagination.last_page }}
                    </a></li>

                    <li v-bind:class="[{disabled: !pagination.next_page_url}]"
                        class="page-item"><a class="page-link" href="#"
                                             @click="fetchQuotes(pagination.next_page_url.replace('http://','https://'))">Следующая</a></li>
                </ul>
            </nav>
            <div class="card card-body mb-2" v-for="quote in quotes" v-bind:key="quote.id">
                <h3>{{ quote.author }}</h3>
                <p>{{ quote.text }}</p>
                <div>
                    <ul class="ti-tags">
                        <li tabindex="0" class="ti-tag ti-valid" v-for="tag in quote.tags" v-bind:key="tag.id">
                            <div class="ti-content">
                                <div class="ti-tag-center"><span class="">{{ tag.name }}</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <span>Дата создания: {{ quote.created_at | formatDate }}</span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "Quotes",
    data() {
        return {
            quotes: [],
            pagination: {},
            showModal: false
        }
    },

    created() {
        this.fetchQuotes();
    },

    methods: {
        fetchQuotes(page_url) {
            let vm = this;
            page_url = page_url || '/api/quotes';
            fetch(page_url)
                .then(res => res.json())
                .then(res => {
                    this.quotes = res.data;
                    vm.makePagination(res.meta, res.links);
                })
                .catch(err => console.log(err));
        },
        makePagination(meta, links) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url: links.next,
                prev_page_url: links.prev
            }

            this.pagination = pagination;
        },
        createQuote(params) {
            this.showModal = false;
            if (params) {
                fetch('api/quote', {
                    method: 'post',
                    body: JSON.stringify(params),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        alert('Quote Added');
                        this.fetchQuotes();
                    })
                    .catch(err => console.log(err));

            }
        },
    }
}
</script>

<style scoped>

</style>
